body {
    background: linear-gradient(45deg, rgb(240, 222, 122), rgb(241, 152, 204));
    background-attachment: fixed;
}

.Toji{
    margin: 5rem;
}

.Hoshi{
    margin: 5rem;
}

.gamesprite{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamesprite img {
    transition: transform 0.5s ease;
}


.levelmetertoji, .levelmeterhoshi{
    background-color: rgb(226, 224, 99);
    border-radius: 1rem;
    width: 75vw;
    height: 2.5rem;
    margin: 1rem;
}

.leveldonetoji, .leveldonehoshi{
    display: block;
    border-radius: 1rem;
    background-image: repeating-linear-gradient( to left,rgb(240, 222, 122), rgb(247, 139, 202) );
    color: white;
    box-shadow: 0 5px 5px -6px rgb(240, 222, 122), 0 3px 7px rgb(241, 152, 204);
    height: 100%;
    width: 0;
    transition: 1s ease 0.3s;
}

#levelnumbertoji, #levelnumberhoshi{
    position: absolute;
    font-size: x-large;
    font-weight: bolder;
    color:  rgb(255, 154, 3);
    text-shadow: 1px 1px 2px rgb(253, 255, 141);
}

.statnumbers {
    font-size: large;
    font-weight: bolder;
    color: rgb(255, 154, 3);
    text-shadow: 1px 1px 2px rgb(253, 255, 141);
}

.petgame {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.gamebuttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: auto;
    height: auto;
    border: solid;
    font-size: larger;
    border-radius: 0.7rem;
    padding: 5px;
    background-color: rgb(255, 204, 70);
    border-color: rgb(247, 130, 194);
    color: rgb(221, 77, 77);
     touch-action: manipulation;

}

button:hover {
    background-color: rgb(241, 170, 0);
}

button:active {
    background-color: rgb(255, 237, 97);

}
